# ========================
# Python
# ========================

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# ========================
# Environment & Secrets
# ========================
.env

# ========================
# Testing
# ========================
.pytest_cache/

# Generated test PDFs or artifacts
Parser/tests/